<% if @comments.empty? %>
<p>目前沒有任何留言</p>
<% else %>
    <% @comments.each do |comment| %>
        <div>
            <p><%= comment.user.name %></p>
            <p><%= comment.created_at.to_date %></p>
            <p><%= comment.message %></p>
        </div>
    <% end %>
<% end %>
