<h1>保母留言處</h1>

<form action="" method="get">
  您的姓名<input type="text"><br/>
  填入日期<input type="date" name="" id=""><br/>
  想說的話<textarea name="" id="" cols="30" rows="10"></textarea><br/>
  <input type="submit" value="確認">
</form>



