<div class="search-error " id="search-error" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close error-close" data-dismiss="modal" aria-label="Close" id="error-close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title" id="exampleModalLongTitle">漏了些東西</h5>
      </div>
      <div class="modal-body" id="error-content" >
          錯誤內容
      </div>
    </div>
  </div>
</div>
