<div class="sitter-checkout">
        <div class="sitter-checkout-container">
            <div class="item-payment">
                <h3>付款設定</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur laudantium corporis
            debitis voluptatibus unde, at quisquam autem ratione saepe magni ab maxime perspiciatis alias natus
            voluptate iste hic modi esse?</p>
            <form action="submit">
                    
                </form>
                
            </div>
            <div class="item-sitter-profile">
               <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur laudantium corporis
            debitis voluptatibus unde, at quisquam autem ratione saepe magni ab maxime perspiciatis alias natus
            voluptate iste hic modi esse?</p>
            </div>
        </div>
</div>    
