<div class="sitter-treaty">
    <article >
        <h1>成為保母條約</h1>
        <section>
            高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...
            高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...
            高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...
            高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...
            高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...
            高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...
            高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...
            高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...
            高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...
            高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...
            高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...
            高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...
            高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...高雄發大財，大家發大財，發財，發...
        </section>
        <input type="checkbox" class="checkbox" id="agree"><p>我同意以上條約，願承擔一切責任，不惜粉身碎骨</p>
        <%= link_to  "下一步", new_sitter_path ,class: 'agree-btn', id: 'agree-btn'%>
        
    </article>
</div>    
