<h1>Sitter Profile</h1>
<div class="profile">
  <%= render 'shared/profile', profile: @sitter %>
  <%= link_to 'Edit', edit_sitter_path(@sitter), class: 'btn btn-edit btn-primary' %>
  
  <%= link_to 'Booking', new_user_order_path(current_user), class: 'btn btn-booking btn-success' %>

</div>
