# Add configuration values here, as shown below.
#
# pusher_app_id: "2954"
# pusher_key: 7381a978f7dd7f9a1117
# pusher_secret: abdc3b896a0ffb85d373
# stripe_api_key: sk_test_2J0l093xOyW72XUYJHE4Dv2r
# stripe_publishable_key: pk_test_ro9jV5SNwGb1yYlQfzG17LHK
#
# production:
#   stripe_api_key: sk_live_EeHnL644i6zo4Iyq4v1KdV9H
#   stripe_publishable_key: pk_live_9lcthxpSIHbGwmdO941O1XVU
#這是範例,會上雲端只需要將key填入就好
development:
paypal_environment: 'sandbox'
paypal_merchant_id : 'xcd64x8k6q3qq27ry'
paypal_public_key : 'js3wz8tk3635wtdbn'
paypal_private_key : '8c0eb331cba7e5812079090ce8ac4b906'

production:
paypal_environment: 'production'
paypal_merchant_id : 'xcd64x38k6qqq27ry'
paypal_public_key : 'js3w3z8tk635wtdbn'
paypal_private_key : '8c0e3b31cba7e5812079090ce8ac4b906'