<div class="index-pictures-wrap" >
  <h3>圖片集</h3>
  <% if @user.role == 'sitter'%>
    <%= link_to '回到個人資料', sitter_path(session[:current_sitter].to_h['id']), class: 'add-symbol'%>
  <% elsif @user.role == 'user'%>
    <%= link_to '回到個人資料', user_path(@user), class: 'add-symbol'%>
  <% end %>
  
  <span><%= link_to '加入更多照片', new_user_picture_path(@user), class: 'add-symbol',id:'new-pic' if current_user && @user.email == current_user.email%></span>

  <div class="index-pic-wrap">
      <% @user.pictures.each do |picture|%>
          <div class="index-pic">
              <%= link_to image_tag("#{picture.pic.thumb.url}"),user_picture_path(@user,picture
              ), class: 'add-symbol'  %>
                             
          </div>
      <%end%>
  </div>
  
        
</div>