<div class="index-pictures-wrap" >
  <h3>圖片集</h3>
  <span><%= link_to '加入更多照片', new_user_picture_path(@user), class: 'add-symbol',id:'new-pic' if @user.email == current_user.email%></span>
  <div class="index-pic-wrap">
      <% @user.pictures.each do |picture|%>
          <div class="index-pic">
              <%= link_to image_tag("#{picture.pic.thumb.url}"),user_picture_path(@user,picture
              ), class: 'add-symbol'  %>                
          </div>
      <%end%>
  </div>
  
        
</div>