<div class="index-pictures-wrap" >
  <h3>圖片集</h3>
  <% if @user.role == 'sitter'%>
    <%= link_to '回上一頁', sitter_path(session[:current_sitter].to_h['id']), class: 'back-symbol'%>
  <% elsif @user.role == 'user'%>
    <%= link_to '回上一頁', user_path(@user), class: 'back-symbol'%>
  <% end %>

  <div class="index-pic-wrap">
      <% @user.pictures.each do |picture|%>
          <div class="index-pic">
              <%= link_to image_tag("#{picture.pic.thumb.url}"),user_picture_path(@user,picture
              ), class: 'add-symbol'  %>
                             
          </div>
      <%end%>
  </div>
  
        
</div>