<div class="show-pic-wrap" >
    <%if @sitter.name == current_user.name%>
        <span>
            <%= link_to '回圖片集', sitter_pictures_path(@sitter), class: 'add-symbol' %>
        </span>
    <%end%>
    <div class="show-pic">
                  
        <%if @picture == nil %>
            <div class="h1">已經沒有圖片囉</div>
        <%else%>
            <%= link_to '<<',sitter_picture_path(@sitter,params[:id].to_i-1), class: 'btn add-symbol' %> 
            <div>
                <%= image_tag @picture.pic.url %>
            </div>
            <%= link_to '>>',sitter_picture_path(@sitter,params[:id].to_i+1), class: 'btn add-symbol' %>     
        <%end%>
                
    </div>
    
    
</div>