        
        <div class="search-map">
                    
                 <div id="map">

                 </div>

         </div>
        
        <script type="text/javascript">
        document.addEventListener('turbolinks:load', function(){
          function initialize(){
            var hashes = '<%= raw hash.to_json %>';
             console.log("result in initialize"+hashes)
                data = JSON.parse(hashes);
                var getlocation = getLocationData(data);
                bulidMap(getlocation);
                setMapStyle(getlocation);
          }
          
          function bulidMap(data){
                handler = Gmaps.build('Google');
                handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
                  console.log("bulidMap----")
                  initMapMarker(data);
                });
                
          }
          initialize();
        });
        </script>
       