.sitter-treaty {
  width: 80%;
  margin: auto;
  article {
    input,
    p {
      display: inline-block;
    }
    section {
      margin: 20px 0;
      height: 500px;
      overflow: scroll;
    }
    #agree-btn {
      display: block;
      width: 30%;
      margin: auto;
    }
  }
}
.become-sitter-wrap {
  .new-sitter {
    // display: flex;
    // align-content: center;
    text-align: center;
    .bar-form {
      padding: 20px;
      width: 80%;
      margin: auto;
      background-color: #d1d8e0;
      border-radius: 5px;
      p {
        font-size: 18px;
      }
      input,
      #slogan {
        width: 100%;
        max-width: 300px;
      }
    }
    .invalid-feedback {
      color: #f88;
    }
  }
}
