.simple-calendar {
  width: 450px;
  .calendar-heading {
    a {
      text-decoration: none;
    }
  }
  .booked,
  .closure {
    text-align: center;
    margin: 0;
  }
  .open-date {
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 5px;
    font-size: 8px;
  }
}
