//order#new
.sitter-checkout {
  width: 100%;
  max-width: 800px;
  margin: 100px auto;

  .sitter-checkout-container {
    margin: 5px;
    // border: 2px solid #eee;
    form div {
      margin: 0;
    }
    .new_order {
      display: flex;
      flex-flow: row wrap;
      padding: 0;
      background-color: #eee;
      border: 1px solid #eee;
      border-radius: 10px;
      box-shadow: 0 0 8px 3px #ddd;
      .btn {
        margin: 10px auto;
      }
      .check-item {
        padding: 10px;
      }
      .item-payment {
        box-sizing: border-box;
        width: 50%;
        height: 300px;
      }
      .item-sitter-profile {
        box-sizing: border-box;
        width: 50%;
        height: 300px;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .sitter-checkout {
    .sitter-checkout-container {
      .new_order {
        flex-flow: column wrap !important;
        align-items: center;
        .item-sitter-profile,
        .item-payment {
          width: 100% !important;
        }
      }
    }
  }
}
