

.container-fluid {
  background-color: #e3f2fd;
  
  .navbar-header{
    img{
        // background: #fff;
        height: 50px;
        // border-radius:50px;
        margin-right:20px ;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 20px;
    margin: 0;

    li {
      display: inline-block;
      color: #113859;
      padding: 10px 10px;
      margin: 10px, 5px;
      font-size: 20px;
      img{
        height: 50px;
        border-radius:50px;
      }
      a {
        display: block;

        text-decoration: none;
        color: #365359;
        transition: 0.3s;
      }
      a:hover {
        color: #365359;
        transition: 0.3s;
      }
    }
  }
}

.notice,
.alert {
  color: #434059;
  font-size: 20px;
}
