// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index
.order-type {
  text-align: center;
  margin: 20px 0;
  li {
    display: inline-block;
    a {
      text-decoration: none;
      margin: 0 5px;
    }
  }
}
.check-empty {
  text-align: center;
  margin: 40px 0;
  p {
    font-size: 20px;
  }
}
.order-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  border: 1px solid #eee;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 0 8px 2px #eee;
  a {
    text-decoration: none;
    align-self: flex-start;
  }
  p {
    // font-size: 16px;
    line-height: 2;
  }
  img {
    width: 100%;
    max-width: 250px;
  }
  .order-content {
    margin-left: 40px;
  }
  .order-link {
    display: flex;
    flex-flow: column wrap;
    align-self: flex-start;
    margin-right: 20px;
    a {
      margin: 10px 0;
    }
  }
}
//kaminari
nav .pagination {
  // width: 100%;
  text-align: center;
  position: relative;
}

//show
.order-detail {
  max-width: 800px;
  margin: auto;
  .order-section-top {
    text-align: center;
  }
  .sitter-avatar,
  .sitter-info {
    display: inline-block;
    text-align: left;
  }
  img {
    width: 100%;
    max-width: 300px;
    padding: 0 20px;
  }
  .detail-text p {
    padding-left: 15%;
    span {
      display: inline-block;
      width: 300px;
    }
  }
}
@media screen and (max-width: 992px) {
  //index
  .order-info {
    .order-content {
      text-align: left;
      margin: auto;
    }
  }
  //show
  .order-section-top {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    .sitter-info {
      p {
        font-size: 18px;
      }
      .btn {
        display: block;
        width: 80px;
        margin: auto;
      }
    }
  }
  .detail-text {
    p {
      padding-left: 0 !important;
      span {
        font-size: 14px;
        width: 45% !important;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  //index
  .order-info {
    flex-flow: column wrap;
    img {
      margin: 10px 0;
    }
    a {
      align-self: center;
    }
    .order-link {
      margin: auto;
    }
  }
  //show
  .detail-text {
    p {
      span {
        width: 100% !important;
      }
    }
  }
}
