// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index
.order-type {
  text-align: center;
  li {
    display: inline-block;
    a {
      text-decoration: none;
    }
  }
}
.check-empty {
  text-align: center;
  margin: 40px 0;
  p {
    font-size: 20px;
  }
}
.order-info {
  display: flex;
  margin: 10px auto;
  border: 1px solid #eee;
  width: 100%;
  max-width: 800px;
  a {
    text-decoration: none;
  }
  img {
    width: 250px;
  }
  .order-content {
    margin-left: 40px;
  }
}
//kaminari
nav .pagination {
  // width: 100%;
  text-align: center;
  position: relative;
}

//show
.order-detail {
  max-width: 800px;
  margin: auto;
  .order-section-top {
    text-align: center;
  }
  .sitter-avatar,
  .sitter-info {
    display: inline-block;
    text-align: left;
  }
  img {
    width: 80%;
  }
  .detail-text p {
    padding-left: 15%;
    span {
      display: inline-block;
      width: 300px;
    }
  }
}
