//圖片列表
.index-pictures-wrap {
  width: 100%;
  
  .index-pic-wrap {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    margin: auto;
    .index-pic {
      width: 200px;
      height: 200px;
      margin: 5px;
      a {
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

//個別圖片瀏覽
.show-pic-wrap {
  text-align: left;
  span {
    a {
      display: inline-block;

      font-size: 20px;
      margin: 20px 0;
    }
  }
  
  div{
    display: flex;
    justify-content: space-around;
    line-height: 800px;
    a {
      font-size: 40px;
      color: #72a603; //箭頭
      transition: 0.3s;
    }
    a:hover {
      color: #4e5927;
      transition: 0.3s;
    }
    .show-pic {
      display: flex;
      align-items: center;
      width: 800px;
      height: 800px;
    
    // a:before {
    //   content: '';
    //   display: inline-block;
    //   height: 100%;
    //   // vertical-align: middle;
    // }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
