.pictures-wrap{
    width: 100%;
    margin: auto;
    h3{
        width: 100%;
    }
    .pic-wrap{
        display: flex;
        flex-wrap: wrap;
        .pic{
            width: 206px;
            height: 206px;
            margin: 5px;
                img{
                    width: 100%;
                    height: 100%;
                }
            
        }
    }
}


.show-pic-wrap{
    a{
        font-size: 30px;
    }
    .show-pic{
        display: flex;
        justify-content: center;
        margin: auto;
        width: 800px;
        height: 800px;
        img{
           width: 100%;
           height: 100%;
        }
    }
}
