.profile {
  // position: relative;
  .btn-edit {
    margin-left: 100px;
    display: inline-block;
    vertical-align: middle;
    // position: absolute;
    // top: 40px;
    // right: 35%;
  }
  // .btn-booking {
  //   position: absolute;
  //   top: 200px;
  //   right: 35%;
  // }
  .avatar-img {
    border-radius: 50%;
    max-width: 250px;
  }
  .info {
    margin-left: 40px;
    h3 {
      margin: 20px 0;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
.avatar,
.info,
.square,
.comment {
  display: inline-block;
}
