.profile {
  position: relative;
  .btn-edit {
    position: absolute;
    top: 40px;
    right: 35%;
  }
  .btn-booking {
    position: absolute;
    top: 200px;
    right: 35%;
  }
}
.avatar,
.info,
.square,
.comment {
  display: inline-block;
}
