.search-wrap {
  width: 100%;
  // min-width: 1200px;
  margin: auto;
  display: flex;
  //左邊的部分
  .search-bar {
    background-color: #eee;
    width: 20%;
    height: 100vh;
    padding: 0 10px;
    // border-right: 1px solid #ddd;
    .search-card {
      background-color: #fff;
      padding: 10px;
      margin: 5px;
      border-radius: 5px;
    }
    h3 {
      margin: 20px 0;
    }
    .bar-form {
      display: flex;
      flex-flow: column wrap;
      .pet-type {
        margin: 10px 0;
        input {
          margin-left: 10px;
        }
      }
      .city-group {
        margin: 20px 0;
        select {
          color: #777;
          margin: 0 5px;
        }
      }
      .select-date {
        margin: 20px 0;
        input {
          display: inline-block;
          width: 80px;
          margin: 10px 5px;
          text-align: center;
        }
      }
      .pet-count {
        margin: 20px 0;
        label {
          width: 105px;
          margin: 10px 0;
        }
        select {
          margin: 0 0 0 5px;
          width: 40px;
        }
      }
    }
    // .search-bar-size,
    // .search-pet,
    // .city-group {
    //   display: flex;
    //   margin: 10px;
    // }
  }
  //中間的部分
  .search-sitters {
    width: 40%;
    height: 100vh;
    // border-right: 1px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    overflow: scroll;
    .sitter-item {
      width: 100%;
      height: 100px;
      border-top: 3px solid #eee;
      border-bottom: 3px solid #eee;
      overflow: hidden;
      display: flex;
      align-items: center;

      .item-pic {
        width: 20%;
        padding-right: 10px;
        img {
          width: 100%;
        }
      }
      .item-sitter-info {
        .item-sitter-name {
          font-size: 18px;
        }
        .item-sitter-slogan {
          color: #777;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }
        width: 60%;
        div {
          margin: 5px 0;
        }
      }
      .item-price {
        text-align: center;
        width: 20%;
        padding: 5px;
        box-sizing: border-box;
        .per-price {
          font-size: 18px;
          color: #467302;
          margin: 10px 0 0;
        }
        p {
          margin: 0;
        }
        .btn {
          margin-top: 5px;
        }
        // a {
        //   display: inline-block;
        //   padding: 10px;
        //   margin: 5px;
        //   text-decoration: none;
        //   border-radius: 14px;
        //   background-color: red;
        //   color: white;
        // }
      } //item-price
    } //sitter-item
    .sitter-item:nth-child(even) {
      background-color: #eff;
    }
  } //search-sitters

  //kaminari
  .pagination {
    width: 100%;
    text-align: center;
    position: relative;
  }
  //google map
  .search-map {
    background-color: #eee;
    padding-top: 3px;
    width: 40%;
    height: 100vh;
    // outline: 1px solid #ddd;

    #map {
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (max-width: 992px) {
  .search-bar {
    width: 0 !important;
    display: none;
  }
  .search-sitters {
    width: 50% !important;
  }
  .search-map {
    width: 50% !important;
  }
}
@media screen and (max-width: 767px) {
  .search-bar {
    width: 0 !important;
    display: none;
  }
  .search-sitters {
    width: 100% !important;
  }
  .search-map {
    width: 0 !important;
  }
}
