.search-index {
  margin: auto;
  max-width: 800px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  .jumbotron {
    // background-color: #0ae;
    background: rgba(247, 245, 245, 0);
    box-sizing: border-box;
    padding-top: 0;
  }
  .slogan-h1,
  .slogan-h3 {
    font-weight: bold;
    color: rgb(243, 243, 240);
    text-shadow: 3px 3px black;
    text-align: center;
  }
  form {
    background: rgba(247, 245, 245, 0.4);
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    box-sizing: border-box;
    color: #000;
    text-align: left;
    label {
      color: #fff;
    }
    .pet-type {
      margin: 10px 20px;
      label {
        margin: 0 10px 0 0;
      }
    }
    .city-group {
      margin: 0 10px;
      .city-select {
        color: #777;
        height: 30px;
        margin: 10px;
        border: none;
      }
    }
    .select-date {
      margin: 0 10px;
      .datepick {
        width: 80px;
        height: 30px;
        margin: 10px;
        text-align: center;
        border: none;
      }
    }
    .pet-count {
      margin: 10px 20px;
      text-align: left;
      label {
        margin-top: 10px;
        width: 120px;
      }
      select {
        width: 60px;
        // margin: auto;
        border: none;
        align-self: center;
      }
    }
    .btn {
      margin-top: 20px;
      display: inline-block;
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 767px) {
  .search-index {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 0;
    .jumbotron {
      margin-top: 40px;
    }
    form {
      text-align: center;
      padding: 20px;
      width: 60%;
      .pet-count div {
        text-align: center;
        label {
          text-align: left;
        }
      }
    }
  }
}
