.search-error {
  position: fixed;
  z-index: 4;
  top: 50%;
  left: 50%;
  max-width: 200px;
  width: 100%;
  transform: translate3d(-50%, -50%, 0);
  .modal-content {
    max-width: 200px;
    width: 100%;
    .modal-header {
      background-color: #72a603;
      color: #fff;
    }
    #error-content {
      text-align: center;
      font-size: 20px;
      line-height: 150px;
      height: 150px;
    }
  }
}
