.simple_form {
  width: 100%;
  max-width: 600px;
  margin: auto;
  .form-group {
    margin: 20px 0;
  }
}
.sitter-edit {
  margin: auto;
  .btn {
    display: block;
    margin: auto;
  }
}
@media screen and (max-width: 992px) {
  .sitter-edit {
    input,
    textarea {
      width: 100%;
      max-width: 250px;
      margin: auto !important;
    }
  }
}
