input{
    display: inline-block;
}
.sitter-treaty{
    width: 50%;
    margin: auto;
    article{
       
        
        section{
            margin: 20px 0;
        }
        a{
            display: block;
            width: 100%;
            text-align: center;
        }
        
    }
}
