//首頁bg
.wrap-body {
  // height: 100vh;
  // background-image: url("./app/assets/images/1.jpg")
  // background-image: image-url("1.jpg");
  // background-color: red;
  background-image: asset-data-url('cat-727263_1920.jpg');
  background-size: cover;
  // opacity: 0.8;
  // -webkit-filter:brightness(.5);
  -webkit-filter: saturate(0.9);

  // filter: grayscale(50%);
}

//全頁bg
.body-bg {
  background-image: asset-data-url('grass-84622_1920.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
  // z-index: ;
}
.body-bg::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  background: #191919;
  z-index: 1;
}

//全頁wrap
.inside-wrap {
  background-color: #fff;
  margin: 20px 0;
  padding: 40px;
  position: relative;
  z-index: 2;
  border-radius: 10px;
}

//首頁遮罩
.wrap-body:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  background: #191919;
  z-index: -1;
}
nav.navbar {
  margin-bottom: 0;
}

//首頁nav
.navbar-fluid {
  padding: 0 30px;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    .navbar-left {
      display: flex;
      align-items: center;
    }
    li {
      display: inline-block;
      padding: 5px 10px;
      .nav-st {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
      }
      .nav-logo {
        margin-left: 30px;
      }
      a {
        display: inline;
        font-size: 18px;
        color: #fff;
        margin: 0 20px;
        transition: 0.3s;
      }
      a:hover {
        color: #72a603;
        transition: 0.3s;
      }
      .avatar-img {
        border-radius: 50%;
        margin: 0 20px;
      }
      img {
        height: 40px;
      }
    }
  }
  //@media list-btn
  .navbar-toggler {
    margin: 0 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    background-color: #eee;
    border-radius: 5px;
    position: relative;
    transition: 0.3s;
  }
  .navbar-toggler::before {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 30px;
    background-color: #333;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 8px 0px #333, 0px -8px 0px #333;
  }
  .navbar-toggler:hover {
    border: 1px solid #72a603;
    background-color: #72a603;
    transition: 0.3s;
  }
  //@media drop-list
  .collapsing,
  .collapse.in {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    p {
      font-size: 20px;
      color: #72a603;
    }
    a {
      font-size: 18px;
      color: #fff;
      transition: 0.3s;
    }
    a:hover {
      color: #72a603;
      transition: 0.3s;
    }
  }
}

//全頁nav
.navbar-fluid.search {
  background-color: #fff;
  position: relative;
  z-index: 3;
  border-radius: none;
  padding: 0 30px;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    .navbar-left {
      display: flex;
      align-items: center;
    }
    li {
      display: inline-block;
      padding: 5px 10px;
      .nav-st {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
      }
      .nav-logo {
        margin-left: 30px;
      }
      a {
        display: inline;
        font-size: 18px;
        color: #72a603;
        margin: 0 20px;
        transition: 0.3s;
      }
      a:hover {
        color: #365902;
        transition: 0.3s;
      }
      .avatar-img {
        border-radius: 50%;
        margin: 0 20px;
      }
      img {
        height: 40px;
      }
    }
  }
  //@media list-btn
  .navbar-toggler {
    margin: 0 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    position: relative;
    transition: 0.3s;
  }
  .navbar-toggler::before {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 30px;
    background-color: #333;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0px 8px 0px #333, 0px -8px 0px #333;
  }
  .navbar-toggler:hover {
    border: 1px solid #fff;
    background-color: #72a603;
    transition: 0.3s;
  }
  //@media drop-list
  .collapsing,
  .collapse.in {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
    p {
      font-size: 20px;
      color: #4e5927;
    }
    a {
      font-size: 18px;
      color: #365902;
      transition: 0.3s;
    }
    a:hover {
      color: #72a603;
      transition: 0.3s;
    }
  }
}

//統一共用下拉樣式
.open {
  .dropdown-menu {
    display: flex !important;
    flex-flow: column wrap;
    align-items: center;
    .dropdown-item {
      text-decoration: none;
      margin: 5px 0;
      color: #4e5927;
      transition: 0.3s;
      font-size: 18px;
    }
    .dropdown-item:hover {
      color: #72a603;
      transition: 0.3s;
    }
  }
}

//@media xs
.xs-show {
  display: none;
}

@media screen and (max-width: 767px) {
  .navbar-fluid,
  .navbar-fluid.search {
    padding: 0;
    .navbar-left {
      margin: auto;
    }
    .xs-hide {
      display: none;
    }
    .xs-show {
      display: block !important;
    }
    .open {
      // margin-right: 20px;
      .dropdown-menu {
        right: 40px;
      }
    }
  }
  .inside-wrap {
    text-align: center;
    padding: 5px;
  }
}
@media screen and (max-width: 992px) {
  .inside-wrap {
    text-align: center;
    padding: 10px;
  }
}
